upstream petclinic {
      {% for i in groups['nginx'] %}
      server {{hostvars[i].ansible_ssh_host}}:8080;
      {% endfor %}
}
server {
        listen     {{ nginx_port|default (10000) }};


        error_page 404 /404.html;
        location = /404.html {
        }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
               }
        location / {
            proxy_pass http://petclinic;
                }
    }
